### IP3_JTR
### DS-160-01
#### Version 1.0

#### 1. Attached to this assignment in Moodle is a file called weather_2012.csv. Download this file and put it in the same directory as your notebook. Read the file into a dataset named "df".

In [1]:
# importing the pandas library and assigning it the alias "pd"
import pandas as pd 
# read the specified csv file 'weather_2012.csv' 
# and assigns it to a variable 'df'. The low_memory parameter is set to False to ensure that the data is read in correctly
df = pd.read_csv('weather_2012.csv', low_memory=False)

#### 2. Write the code to display the first five rows of the dataset, the last five rows of the dataset, and a sample of five random rows from the dataset.

In [2]:
# This line of code returns the first five rows of the dataframe 'df' using the head() function. 
# It allows you to get a quick look at the data before you start exploring it in more detail.
df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [3]:
# This line of code returns the last five rows of the dataframe 'df' using the tail() function. 
# It allows you to get a quick look at the last rows of the data before you start exploring it in more detail.
df.tail()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [4]:
# This line of code returns a random sample of 5 rows from the dataframe 'df' using the sample() function.
# It allows you to get a quick random look at the data before you start exploring it in more detail.
df.sample(5)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
8229,2012-12-08 21:00:00,0.8,0.3,96,9,6.4,100.73,"Rain,Snow,Fog"
2642,2012-04-20 02:00:00,9.9,1.3,55,20,25.0,100.94,Mainly Clear
836,2012-02-04 20:00:00,-8.8,-14.4,64,6,25.0,101.97,Clear
1820,2012-03-16 20:00:00,3.7,3.3,97,0,2.0,101.93,"Drizzle,Fog"
3585,2012-05-29 09:00:00,18.6,15.1,80,4,19.3,100.12,Mainly Clear

#### 3. Write the code to display a list of all of the columns in the dataset.

In [5]:
# get the column names
df.columns

Index(['Date/Time', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)',
       'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather'],
      dtype='object')

#### 4. Rename the column names according to this list {data_time, temp_c, dew_point, relative_humidity, wind_speed, visibility, pressure, and weather}. Keep a copy of the original columns so we can change them back if needed at the end of our analysis.

In [6]:
# get the DataFrame info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date/Time           8784 non-null   object
 1   Temp (C)            8784 non-null   float64
 2   Dew Point Temp (C)  8784 non-null   float64
 3   Rel Hum (%)         8784 non-null   int64
 4   Wind Spd (km/h)     8784 non-null   int64
 5   Visibility (km)     8784 non-null   float64
 6   Stn Press (kPa)     8784 non-null   float64
 7   Weather             8784 non-null   object
dtypes: float64(4), int64(2), object(2)
memory usage: 549.1+ KB

In [7]:
# rename columns
df.rename(columns={'Date/Time':'date_time', 'Temp (C)':'temp_c',
    'Dew Point Temp (C)':'dew_point', 'Rel Hum (%)':'relative_humidity',
    'Wind Spd (km/h)':'wind_speed', 'Visibility (km)':'visibility',
    'Stn Press (kPa)':'pressure','Weather':'weather'}, inplace=True)
df.info()
#df['data_time']=df['Date/Time']
#df['temp_c']=df['Temp (C)']
#df['dew_point']=df['Dew Point Temp (C)']
#df['relative_humidity']=df['Rel Hum (%)']
#df['wind_speed']=df['Wind Spd (km/h)']
#df['visibility']=df['Visibility (km)']
#df['pressure']=df['Stn Press (kPa)']
#df['weather']=df['Weather']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date_time          8784 non-null   object
 1   temp_c             8784 non-null   float64
 2   dew_point          8784 non-null   float64
 3   relative_humidity  8784 non-null   int64
 4   wind_speed         8784 non-null   int64
 5   visibility         8784 non-null   float64
 6   pressure           8784 non-null   float64
 7   weather            8784 non-null   object
dtypes: float64(4), int64(2), object(2)
memory usage: 549.1+ KB

#### 5. Write the code to get some standard statistics for each column (e.g. count, mean, etc.)

In [8]:
# get summary statistics
df.describe()

,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure
count,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623
std,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005
min,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000
25%,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000
50%,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000
75%,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000
max,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000

#### 6. Write the code to add a column named temp_f to the dataset that contains the temperature from temp_c represented in Fahrenheit.

In [9]:
# create new column
df['temp_f']=df['temp_c']
# convert the value in temp_f to celsius and assign to temp_f
df = df.assign(temp_f = lambda x: (9/5)*x['temp_f']+32)
df.head()

,date_time,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather,temp_f
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog,28.76
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog,28.76
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog",28.76
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog",29.30
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog,29.30

#### 7. Write the code to rearrange the columns in the dataset so temp_f appears immediately before temp_c

In [10]:
# check current column order
print(df.columns)

# Rearrange the columns
df = df[['date_time', 'temp_f', 'temp_c','dew_point', 'relative_humidity', 'wind_speed', 'visibility', 'pressure', 'weather']]
df.head()

Index(['date_time', 'temp_c', 'dew_point', 'relative_humidity', 'wind_speed',
       'visibility', 'pressure', 'weather', 'temp_f'],
      dtype='object')

,date_time,temp_f,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather
0,2012-01-01 00:00:00,28.76,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,28.76,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,28.76,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,29.30,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,29.30,-1.5,-3.3,88,7,4.8,101.23,Fog

#### 8. Write the code to display the data types of all the columns in the dataset.

In [11]:
# Display the data types of all columns
print(df.dtypes)

date_time             object
temp_f               float64
temp_c               float64
dew_point            float64
relative_humidity      int64
wind_speed             int64
visibility           float64
pressure             float64
weather               object
dtype: object

#### 9. You'll notice that the date_time column is not actually considered a date by Pandas. Write the code to convert this column to a date/time column. Verify the conversion was succesful.

In [12]:
# Convert the 'date_time' column to a datetime data type
df['date_time'] = pd.to_datetime(df['date_time'])

# Verify the conversion was successful
print(df.dtypes)

date_time            datetime64[ns]
temp_f                      float64
temp_c                      float64
dew_point                   float64
relative_humidity             int64
wind_speed                    int64
visibility                  float64
pressure                    float64
weather                      object
dtype: object

#### 10. Write the code to get a count of the different weather designations in the weather column and display top 10 weather categories.

In [13]:
# Get a count of the different weather designations in the 'weather' column
weather_counts = df['weather'].value_counts()

# Display the top 10 weather categories
print(weather_counts.head(10))

Mainly Clear     2106
Mostly Cloudy    2069
Cloudy           1728
Clear            1326
Snow              390
Rain              306
Rain Showers      188
Fog               150
Rain,Fog          116
Drizzle,Fog        80
Name: weather, dtype: int64

#### 11. Which month of the year, the temp_f more than 90, humidity less than 50 , dew point more than 17, and the weather is clear? Extract that data and save it to a new data frame.

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date_time          8784 non-null   datetime64[ns]
 1   temp_f             8784 non-null   float64
 2   temp_c             8784 non-null   float64
 3   dew_point          8784 non-null   float64
 4   relative_humidity  8784 non-null   int64
 5   wind_speed         8784 non-null   int64
 6   visibility         8784 non-null   float64
 7   pressure           8784 non-null   float64
 8   weather            8784 non-null   object
dtypes: datetime64[ns](1), float64(5), int64(2), object(1)
memory usage: 617.8+ KB

In [18]:
# Extract the data that meets the specified conditions
new_df = df[(df['temp_f'] > 90) & (df['relative_humidity'] < 50) & (df['dew_point'] > 17) & (df['weather'] == 'Clear')]

# Extract month from date_time column
new_df['month'] = new_df['date_time'].dt.month

# Filter data based on month
new_df = new_df[new_df['month'] == 8]

#Display the new data frame
new_df

/var/folders/y_/cjxdj51j5znbssdf31jd68fw0000gn/T/ipykernel_8841/2659834713.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['month'] = new_df['date_time'].dt.month

,date_time,temp_f,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather,month
5199,2012-08-04 15:00:00,91.04,32.8,18.8,44,17,24.1,101.39,Clear,8
5200,2012-08-04 16:00:00,90.50,32.5,18.5,44,15,24.1,101.34,Clear,8
5201,2012-08-04 17:00:00,90.50,32.5,19.8,47,13,24.1,101.32,Clear,8

#### 12. Extract the month information from the date_time column and add a month column at the data frame. (example: dt.month)

In [19]:
# Extract the month information from the date_time column
# and add it as a new column called 'month'
df['month'] = df['date_time'].dt.month

# Verify that the new column has been added and the values are correct
df.head()

,date_time,temp_f,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather,month
0,2012-01-01 00:00:00,28.76,-1.8,-3.9,86,4,8.0,101.24,Fog,1
1,2012-01-01 01:00:00,28.76,-1.8,-3.7,87,4,8.0,101.24,Fog,1
2,2012-01-01 02:00:00,28.76,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog",1
3,2012-01-01 03:00:00,29.30,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog",1
4,2012-01-01 04:00:00,29.30,-1.5,-3.3,88,7,4.8,101.23,Fog,1

#### 13. Save your original dataframe to ('weather_2012_new.csv') -- ensure your file does not contain the index column of the dataset.

In [20]:
# Save dataframe to csv file using the to_csv method
df.to_csv('weather_2012_new.csv')